.titulo h1{
    color: rgb(25, 109, 219); letter-spacing: 5px;
    font-family:cursive;
    text-align: center;
}


.imagen{
    
    margin-top: 40px ;
    font-family: fantasy;
}
.imagen .imgx{
    box-shadow: 5px 5px 10px #DB6116 ;
    border-radius: 40px 20px 10px 10px;
}
.imgx1{
    width: 100px;
    height: 100px;
    
}
.elementos{
    overflow: hidden;
    list-style-type: none;
    margin-left: 350px;

}
.xli{
    float: left;
}
.xli a {
    padding: 10px;
    text-decoration: none;
    color: rgb(39, 85, 235);
}
.div1{
    height: 35px;
    background-color: rgb(36, 138, 221);
    }
    
